<div class="card mb-4 box-shadow">
  <img
    class="card-img-top"
    src="https://edamama-bucket.s3.ap-southeast-1.amazonaws.com/medium/Feeding%20Bottle%20Perfect%205%20PP%20Med%20%28240%29%20Blue_1622432812723.jpg_w_medium"
    alt="Card image cap"
  />
  <div class="card-body">
    <p class="card-text">
      <strong>
        <small>{{ 1000 | currency: "P" }}</small>
      </strong>
    </p>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-success product-btn">
          Add to Cart
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary product-btn"
        >
          View Details
        </button>
      </div>
    </div>
  </div>
</div>
